*{
    border: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
} 

body{
    background: #222
}
.card{
    width: 90%;
    max-width: 416px;
    background: linear-gradient(135deg ,#00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 27px;
    padding: 40px 49px;
    text-align:center;
}
.search{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #0b0b0b;
    height: 60px;
    padding: 10px 36px;
    border-radius: 30px;
    flex: 1;
    margin-right: 5px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
    width: 31px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: 17px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -46px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
 .col{
    display: flex;
    align-items: center;
    text-align: left;
 }
 .col img{
    width: 40px;
    margin-right: 10px;;
 }
 .humidity ,.wind{
    font-size: 22px;
    margin-top: 13px;
 }
 .weather {
    display: none;
 }
 .error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
 }